<div class="container">
  <div *ngFor="let authors of authorList">
    <app-item [author]="authors"></app-item>
  </div>
</div>

<div class="col-md-12 mt-5">
  <div class="card">
    <div class="card-body text-center">
        <button  type="button" (click)="prev()">
          <i class="fa fa-arrow-circle-left p-1"></i>
        </button>
          Page {{currentPage}}
          <button type="button" (click)="next()">
          <i class="fa fa-arrow-circle-right p-1"></i>
          </button>
    </div>
  </div>
</div>
